<div class="container">
  <h1>Hey <%= current_user.first_name %></h1>
  <div class="row">
    <div class="col-4">
      <%= render "dashboard_sidebar" %>
    </div>
    <div class="col-8">
      <%@cars_user.each do |car| %>
        <div class="px-3">
        <%= link_to "cars/#{car.id}" do%>
          <div class="card-product">
          <%=
              car.photo.attached? ? cl_image_tag(car.photo.key, crop: :fill, class:"card-img") : image_tag("https://mclaren.scene7.com/is/image/mclaren/Mclaren_Artura_Zenith%20Black_03:crop-16x9?wid=1980&hei=1114", class:"card-img")
                %>
            <div class="card-product-infos">
              <div class= "list_item">
                <%# <div> %>
                  <h3><%=car.title%></h3>
                  <p><%=car.description %></p>
                  <p><%= car.model_type%></p>
                  <p><%= car.price %>$</p>
                  <p><%= car.user.first_name%> <%= car.user.last_name %></p>
                <%# </div> %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
